.App {
  text-align: center;
}
hr {
  width: 95%;
  margin: 1rem auto;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  min-height: 10vh;
  background-color: grey;
  font-size: larger;
}

nav a {
  font-weight: bold;
  color: aliceblue;
  margin-inline: 2rem;
}
nav a.active {
  padding: 0.3rem;
  background-color: yellowgreen;
  text-decoration: none;
}
.error {
  color: red;
}
